<h2 class="text-center mb-4">Listado de Registros</h2>

<div class="container">
  <div class="row">
    <!-- Listado de registros -->
    <div class="col-md-4">
      <ul class="list-group" id="listadoRegistros">
        @for (reg of registros; track reg.creacion) {
        <li class="list-group-item d-flex align-items-center" [class.bg-success]="registroSelect===reg" (click)="mostrarDetalles(reg)">
          @if(reg.categoria=="registro") {
          <i class="bi bi-clipboard-check text-primary me-2"></i>
          } @else if (reg.categoria=="incidencia") {
          <i class="bi bi-exclamation-triangle-fill text-warning me-2"></i>
          } @else {
          <i class="bi bi-exclamation-diamond-fill text-danger me-2"></i>
          }
          <strong>{{reg.habitacionC}} - {{reg.tituloE}} - </strong>
        </li>
        }
      </ul>
    </div>
    <div class="col-md-6">
      <app-detalles-evento [registro]="registroSelect"></app-detalles-evento>
    </div>
  </div>
</div>

